.jfx-list-view .list-cell {
    -fx-text-fill: black;
    -fx-font-family: "Roboto";
    -fx-font-size: 10px;
    background-color: transparent;
    -fx-background-color: transparent;
    -fx-font-style: italic;
}

.jfx-list-view {
    -fx-background-color: transparent;
}

.jfx-list-view .list-cell {
    -fx-border-color: black;
    -fx-border-width: 0 0 0.5px 0;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 8;
}

.scroll-pane {
    -fx-background-color: #efeee3; /* fondo del contenedor exterior */
}

.scroll-pane .viewport {
    -fx-background-color: #efeee3; /* fondo del área visible */
}

.scroll-pane .content {
    -fx-background-color: #efeee3; /* fondo del contenido interno */
}

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}